.activites-marseille
 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
 }
.activites-card
 {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  margin-top:30px;
  margin-bottom: 30px;
}
.activites-card img
  {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 1px 1px 10px #dfdfdf;
    object-fit: cover;
  }
.card-activites
  {
      width: 23%;
      background-color:  #ffff;
      box-shadow: 1px 1px 10px #dfdfdf;
      border-radius: 25px 25px 25px 25px; 
  }
.card-activites img
  {
  height: 380px;
  }
.card-activites-group
  {
      width: 23%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;    
   }
.card-ac-1, .card-ac-2, .card-ac-3, .card-ac-4
{
  background-color:  #ffff;
  box-shadow: 1px 1px 10px #dfdfdf;
  border-radius: 25px 25px 25px 25px; 
}
.card-ac-1 img{  
    height: 180px;
}

.card-ac-2 img{
    height: 100px;
}
.card-ac-3 img{
  height: 139px;
}

.card-ac-4 img{
  height: 140px;
}
.title-ac
 {
   display: flex;
  height: 10%;
  font-size: 100%;
  padding-left: 20px;
 }
.card-activites:hover
  {
      transform: scale(1.02);
      box-shadow: 3px 5px 11px -5px #000000;
  }
.card-ac-4:hover
  {

      transform: scale(1.02);
      box-shadow: 3px 5px 11px -5px #000000;
  }
  .card-ac-3:hover
  {

      transform: scale(1.02);
      box-shadow: 3px 5px 11px -5px #000000;
  }
  .card-ac-2:hover
  {

      transform: scale(1.02);
      box-shadow: 3px 5px 11px -5px #000000;
  }
  .card-ac-1:hover
  {

      transform: scale(1.02);
      box-shadow: 3px 5px 11px -5px #000000;
  }
  @media (max-width: 991px) 
  
  {
    .activites-card
    {
      flex-direction: column;
      height: auto;
      width: 100%;
    }
   .act-card
   {
     width: 100%;
     margin: 10px 0;
   }
   .activites-card img
   {
     height: 120px;
   }
   .card-activites-group
   {
     margin: 0;
     width: 100%;
   }
  }