/* FILTER */
.flex-filter
    {
      display: flex;
       align-items: center;
       gap: 16px 32px;
       flex-wrap: wrap;
       margin-top: 24px;
    }


.filter .fa-solid 
    {
      color:blue ;
      background-color: #DEEBFF;
      padding: 16px;
      border-radius: 100%;
      margin: -2px;
      width: 48px;
      height: 48px;
     }
.filter .fas
     {
       color:blue ;
       background-color: #DEEBFF;
       padding: 16px;
       border-radius: 100%;
       margin: -2px;
      }
     
.filter
     {
       border: 2px solid #d9d9d9;
       border-radius: 32px;
       cursor:pointer ;
       opacity: 0.9;
       transition-duration: 0.2s;
       
     }
.filter span
     {
       font-weight: bold;
       padding: 16px;
    }
.filter:hover
    {
      background-color:#F3F8FF;
      opacity: 1;
      transform: scale(1.03);
    }
.filter:active
  {
    opacity: 1;
    transform: translateY(3px);
  }

.info
  {
   display: flex;
   align-items: center;
   gap: 1rem;
   flex-wrap: wrap;
   margin-top: 16px;
  }
.info .fa-solid
 {
   color: #0065FC;
   width: 32px;
   height: 32px;
   border: 1px solid #d9d9d9;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
