/* FOOTER */
footer
   {
       background-color: lightgray;
       width: 100%;
       display: flex;
       justify-content: space-evenly;
       font-size: smaller;
       padding: 16px;
   }
    @media  (max-width: 767px) 
    {
    footer {
      display: flex;
      flex-direction: column;
      background-color: lightgrey;
    }
}