/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  nav a {
    padding: 32px;
    border-top: 3px solid transparent;
  }
  
  nav a:hover {
    border-top-color: blue;
  }
  
  .logo 
      {
       margin-right: auto;
       padding: 0 32px;
       height:55px;
      }
  img
      {
   border-style: none;
      }
 
  
  .sub-nav {
    display: flex;
    font-weight: 500;
    }
  
  .sub-nav a:hover {
    color:blue
  }
  
  @media (max-width: 992px) {
    .sub-nav {
      order: 1;
      flex-basis: 100%;
          }
  
    .sub-nav a 
            {
             flex-basis: 50%;
             text-align: center;
             border-bottom: 3px solid lightgrey;
            }
  
    .sub-nav a:hover {
      border-bottom-color: blue;
      border-top-color: transparent;
    }
    .logo
    {
     margin: auto;
    }
  }