/* popular card */
.popular
   {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
   }


.popular-card.apartment-card img
   {
      border-radius: 16px 0 0 16px;
      width: 30%;
      margin-right: 8px;
      object-fit: cover;
     
   }

.popular-description
   {
     display: flex;
     flex-direction: column;
   }
.popular-card 
   {
     display: flex;
     min-width: 30%;
     max-height: 26.5%;
   }
.popular-card img
   {
      
   }
.popular-card .stars
   {
      margin-top: auto;
      margin-bottom: 6px;
   }
.name-popular
   {
     margin-bottom: -12px;
   }

.popular-apartment-card .stars
   {
   margin-top: auto;
   }
.popular h2, h3
   {
     display: flex;
     justify-content: space-between;
   }
.popular h2, h3 .city h2, h3
   {
     margin-top: 8px;
   }
