/* POPULAR */
.apartments-list .popular-flex
  {
   display: flex;
   flex-direction: column;
   gap: 16px;
   flex-wrap: wrap;
   flex-basis: 100%;
   justify-content: space-evenly;
  }

.apartments-list .popular div 
  {
    border-radius: 16px;
  }

  @media (max-width: 900px) 
  {
    .apartments-list .popular-flex 
    {
      flex-direction: column;
      display: flex;
      justify-content: center;
     
      
    }
  }