/* SEARCH-FORM*/
.search-form 
     {
       display: flex;
       font-size: 1rem;
       
     }
.search-form >*
     {
       padding: 1rem 1.5rem;
       
     }
.search-form i
    {
      
      padding: 1rem 1.25rem;
      background-color: #F2F2F2;
      border-radius: 1rem 0 0 1rem;
      text-align: center;
    } 
.search-form input
    {
      flex-basis: 16rem;
      border: 1px solid lightgrey;
      overflow: hidden;
    }

.search-form input::placeholder
    {
      font-weight: bold;
      font-size: 1.4em;
      color: black;
    }

.search-form button
    {
      background-color: #0065FC;
      color: white;
      font-size: 1.1rem;
      border-radius: 0 1rem 1rem 0;
      font-weight: bold;
      padding: 1rem 1rem;
      border: none;
      cursor: pointer;
      opacity: 0.9;
      transition: transform 0.2s;
    }
.search-form button:hover
       {
      opacity: 1;
      transform: scale(1.03);
       }

    .search-form button:active
      {
      opacity: 1;
      transform: translateY(3px)
      }
.fas.fa-search 
      {
        display: none;
      }
@media (max-width: 768px)
  {
      .search-form .search-text
      {
        display: none;
      }
     .fas.fa-search
     {
       background-color: inherit;
       display: inline;
     }
  }
